@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600;700&family=Roboto:wght@100;300;400;500;700&display=swap");
body {
  font-family: "Roboto", sans-serif;
  line-height: 1em;
  color: #212121;
  margin: 0;
  width: auto;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* Encabezado de la página*/
header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: ;
  height: 60px;
}

.logo a {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  color: #2196f3;
}

.menu,
.info {
  text-align: center;
  font-weight: 500;
  font-size: 14px;
}

.menu ul,
.info ul {
  display: flex;
  flex-direction: row;
}

.menu ul li a,
.info ul li a {
  color: #212121;
  padding: 15px;
}

.menu ul li a:hover,
.info ul li a:hover,
.menu ul li a:active,
.info ul li a:active {
  color: #2196f3;
}

main {
  display: flex;
  flex-direction: column;
  text-align: center;
}

/* Cuerpo de la página seccion de titulo*/
#hero {
  background: #2f303a;
  max-height: max-content;
}

#hero .tittle {
  margin: 150px;
}

#hero .tittle h1 {
  font-weight: 700;
  font-size: 44px;
  line-height: 1em;
  color: #ffffff;
  cursor: default;
}

#hero .button {
  width: 261px;
  height: 50px;
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;
  background-color: #2196f3;
  border-color: #1491f7;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.45);
  cursor: pointer;
}

#hero .button:hover {
  border-color: #57acf1;
  background-color: #1491f7;
}

/* Cuerpo de la pagina seccion de caracteristicas */
#characterist ul {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}
#characterist ul .box li p {
  display: flex;
  text-align: start;
}
#characterist ul .box {
  width: 300px;
  margin: 20px;
}

/* Cuerpo de la página seccion de aque nos dedicamos*/
#company {
  position: relative;
  font-weight: 700;
  font-size: 30px;
  line-height: 1em;
}
#company ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
#company ul li {
  margin: 30px;
}
#company ul li img {
  width: 373px;
  height: 323px;
}

/* Cuerpo de la página seccion de nuestro equipo */
#team h2 {
  font-size: 30px;
  font-weight: 700;
  line-height: 1em;
}
#team .boxes {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
#team .boxes .box-team {
  display: flex;
  align-items: center;
  margin: 37px;
  width: 270px;
  height: 368px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
#team .boxes .box-team img {
  font-weight: 500;
  font-size: 16px;
  border-radius: 15px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.12), 0px 5px 15px rgba(0, 0, 0, 0.14),
    0px 5px 15px rgba(0, 0, 0, 0.2);
}
#team .boxes .box-team li h3 {
  color: #212121;
  line-height: 1em;
}
#team .boxes .box-team li p {
  color: #757575;
  line-height: 1em;
}
footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background: #2f303a;
  height: 252px;
  margin-top: 60px;
}
footer .footer {
  margin-left: 256px;
}
footer address ul {
  padding-left: 0;
}
footer address ul li {
  margin: 5px;
}
footer address ul li a {
  color: #ffffff;
}
footer address ul li .dir {
  color: rgba(255, 255, 255, 0.6);
}

/*----------------------------------------------------------------*/

/* Sección de portafolio */
