@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600;700&family=Roboto:wght@100;300;400;500;700&display=swap");
body {
  font-family: "Roboto", sans-serif;
  line-height: 1em;
  color: #212121;
  margin: 0;
  width: auto;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* Encabezado de la página*/
header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: 60px;
}

header .logo a {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  color: #2196f3;
}

.menu,
.info {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 500;
  font-size: 14px;
}

.menu ul,
.info ul {
  display: flex;
  flex-direction: column;
}

.menu ul li a,
.info ul li a {
  color: #212121;
}

.menu ul li a:hover,
.info ul li a:hover,
.menu ul li a:active,
.info ul li a:active {
  color: #2196f3;
}

main {
  display: flex;
  flex-direction: column;
  text-align: center;
}

/* Cuerpo de la página seccion de titulo*/
#hero {
  background: #2f303a;
  max-height: max-content;
}

#hero .tittle {
  margin: 150px;
}

#hero .tittle h1 {
  font-weight: 700;
  font-size: 44px;
  line-height: 1em;
  color: #ffffff;
  cursor: default;
}

#hero .button {
  width: 261px;
  height: 50px;
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;
  background-color: #2196f3;
  border-color: #1491f7;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.45);
  cursor: pointer;
}

#hero .button:hover {
  border-color: #57acf1;
  background-color: #1491f7;
}

/* Cuerpo de la pagina seccion de caracteristicas */
#characterist ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#characterist ul .box {
  margin: 20px;
}

@media (min-width: 820px) {
  header {
    margin: 0;
    padding: 0;
  }
  .info ul {
    margin-left: 50px;
  }
  .menu ul,
  .info ul {
    flex-direction: row;
    justify-content: space-between;
  }
  .menu ul li a,
  .info ul li a {
    margin: 15px;
    padding-inline-start: 0;
  }
  #characterist ul {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 50px;
  }
  .box {
    margin: 15px;
  }
  .box p {
    text-align: start;
  }
}
