:root{
  --text-color: #212121;
  --white-color: #ffffff; 
  --color-blue: #2196f3;
  --color-button-menu: #f5f4fa;
  --color-paragraph: #757575;
  --background-color: #2F303A;
}

body{
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  letter-spacing: 0.03;
  color: var(--text-color);
  background-color: var(--white-color);
}

.link, .link-contact, .list, .logo, .list-portfolio{
  text-decoration: none;
  list-style: none;
  color: var(--text-color);
}

.current{
  color: var(--color-blue);
}

/* Cabecera */

.logo{
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.9;
  color: var(--color-blue);
}

.link, .link-contact {
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.02;
}

.link-contact{
  color: var(--color-paragraph);
}

.link:hover, .link-contact:hover,
.link:focus, .link-contact:focus{
color: var(--color-blue);
}

/* Sección de titulo */

.hero{
  background-color: var(--background-color);
}

.hero-tittle{
  font-weight: 900;
  font-size: 44px;
  line-height: 1.9;
  text-align: center;
  letter-spacing: 0.06;
  color: var(--white-color);
}

.hero-button{
  background: var(--color-blue);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: #67a1d1;
  border: none;
  color: var(--white-color);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.8;
  text-align: center;
  cursor: pointer;
}

.hero-button:hover{
  border: 1px solid var(--color-blue);
}

/* Cuerpo de la página */

.list-tittle{
  font-weight: 700;
  line-height: 1;
}

.list-paragraph{
  font-weight: 400;
  line-height: 1.5;
  color: var(--color-paragraph);
}

.subtittle{
  font-weight: 700;
  font-size: 36px;
  line-height: 2.6;
  text-align: center;
}

.list-img{
  width: 373.16px;
  height: 323.7px;
}

.box-team{
  width: 270px;
  height: 368px;
  background: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 
              0px 1px 1px rgba(0, 0, 0, 0.14), 
              0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  padding-left: 0;
}

.team-list{
  width: 270px;
  height: 260px;
}

.team-name{
  font-weight: 500;
  line-height: 1.18;
  text-align: center;
}

.box-team .list .list-paragraph{
  text-align: center;
}

/* Pie de pagina */

.footer{
  background: var(--background-color);
}

.footer .link{
  color: var(--white-color);
}

.contact .link{
  color: var(--color-paragraph);
}

.footer .link:hover,
.footer .link:focus{
  color: var(--color-blue);
}

/* PORTAFOLIO */
/* Cuerpo de la pagina */

/* Botones */
.btn{
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  color: var(--text-color);
  text-align: center;
  background-color: var(--color-button-menu);
  border-radius: 4px;
  border-style: none;
  cursor: pointer;
}

.btn:hover{
  background-color: var(--color-blue);
  color: var(--white-color);
}

/* galeria del portafolio */

.list-portfolio{
  width: 370px;
  height: 404px; 
  border: 1px solid #EEEEEE;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
              0px 4px 4px rgba(0, 0, 0, 0.06), 
              1px 4px 6px rgba(0, 0, 0, 0.16); 
  margin-top: 10px;
}

.img-list{
  width: 370px;
  height: 294px;
}

.list-portfolio .list-tittle{
  font-weight: 700;
  font-size: 18px;
  line-height: 2.25;
  letter-spacing: 0.06em;
}

.list-portfolio .list-paragraph{
  font-weight: 400;
  line-height: 1.87;
}

